h1 { font-family: Georgia, serif;
  font-size: 50px;
  color: green;
}
#city{font-style: italic;
   color: red;
  font-size: 30px;
}
#city p{
  font-size: 20px;
  color: black;
}
#language h1{
  font-style: oblique;
  color: red;
}
#places h1{
  color: green;
}
#places p{
  font-size: 20px;
  font-style: italic;
  color: black;
}
